{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero Start -->
<div class="container-fluid pt-5 bg-primary hero-header">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4 animated slideInRight">Our Projects</h1>
                <nav aria-label="breadcrumb">
                    <!-- <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Workshops</li>
                    </ol> -->
                </nav>
            </div>
            <div class="col-lg-6 align-self-end text-center text-lg-end">
                <img class="img-fluid" src="{% static 'img/hero-img.png' %}" alt="" style="max-height: 300px;">
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->

<section id="LM" class="ftco-section">
    <div class="container-fluid px-4">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4 text-center">{{ project.title }}</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Published in</th>
                                <th>Github</th>
                                <th>Paper</th>
                                <th>Citation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for topic in project.topics_set.all %}
                            <tr>
                                <td>{{ topic.title }}</td>
                                <td>{{ topic.publishedDate }}</td>
                                {% if topic.github %}
                                <td><a href="{{ topic.github }}"><i class="fab fa-github" style="font-size:24px;color:black;"></i></a></td>
                                {% else %}
                                <td><i class="fab fa-github" style="font-size:24px;color:gray;"></i></td>
                                {% endif %}

                                {% if topic.paper %}
                                <td><a href="{{ topic.paper.url }}"><i class="far fa-file-pdf" style="font-size:24px;color:red;"></i></a></td>
                                {% else %}
                                <td><i class="far fa-file-pdf" style="font-size:24px;color:gray;"></i></td>
                                {% endif %}

                                <td>
                                    <button data-open-modal class="fa fa-quote-right" style="font-size:24px;color:#007CD2"></button>
                                    <dialog data-modal>
                                        @article{{ topic.citation }}
                                    </dialog>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
